.App {
  text-align: center;
  color: crimson;
  text-decoration: darkgreen;
  text-shadow: darkgrey;
}

.App-logo {
  height: 10vmin;
  pointer-events: visibleFill;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61Bafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(185deg);
  }
  to {
    transform: rotate(90000deg);
  }
}
